.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.2); /* 灰色半透明遮罩 */
  justify-content: center;
  align-items: center; /* 使.modal-content在.modal内居中 */
}

.modal-content {
  background-color: rgba(243, 243, 243, 1.0);
  padding: 20px;
padding-top: 0px;
  border: 1px solid #888;
width: 78%;
max-width: 33.75rem;
  border-radius: 0.5rem; /* 圆角 */
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,1); /* 添加阴影 */
  position: relative; /* 为关闭按钮的绝对定位设置参考 */
text-align: center;
}

.close {
display: none;
  position: absolute;
  top: 5px; /* 距离顶部的位置 */
  right: 10px; /* 距离右侧的位置 */
  color: #aaa;	
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-btn {
  background-color: #239cd7; /* 蓝色 */
  color: white;
  border: none;
  padding: 10px 0px;
  margin: 2.5rem auto 0px; /* 增加按钮顶部的垂直间距，自动调整左右边距 */
  border-radius: 2.5rem; /* 圆角 */
  cursor: pointer;
  display: block; /* 按钮块级显示 */
  width: 70%; /* 按钮宽度占满 */
max-width: 26rem;
text-align: center;
}


/* 为第一个按钮增加更多的底部间距 */
.modal-btn:first-of-type {
  margin-bottom: 1px;
font-size: 1rem;
/* animation: breatheAnim'ation 1.2s ease-in-out infinite; */
}

/* 呼吸动画关键帧 */
@keyframes breatheAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

.modal-btn:last-of-type {
  background-color: rgba(243, 243, 243, 1.0);
  color: #888;
  text-decoration: underline;
  margin-top: 10px;
  padding: 10px 0px;
}

.modal-btn img {
  vertical-align: middle;
  width: 2rem;
}

.loading-container {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: none; /* 默认隐藏 */
z-index: 9999; /* 确保加载动画在最上层 */
text-align: center; /* 文本居中 */
}

.loading-container img {
width: 50px;
height: 50px;
display: block; /* 确保图片是块级元素 */
animation: spin 2s linear infinite; /* 应用旋转动画 */
transform-origin: center center; /* 设置旋转中心点为图片的中心 */
}

.show {
display: block; /* 显示 */
}

@keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
