<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1,
   minimum-scale=1.0, maxmum-scale=1.0, viewport-fit=cover" />
  <title>VG.poker</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="icon" href="./favicon.ico">
  
  <!-- 关键图片预加载 -->
  <link rel="preload" as="image" href="./assets/BJ01.png">
  <link rel="preload" as="image" href="./assets/DB_5.png">
  <link rel="preload" as="image" href="./assets/H5_picture_2.png">
  <link rel="preload" as="image" href="./assets/logo_BIG.png">
  <link rel="preload" as="image" href="./assets/H5_ios_button.png">
  <link rel="preload" as="image" href="./assets/H5_log_in_button.png">
  <link rel="preload" as="image" href="./assets/window_background.png">
  
  <!-- 字体预加载 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- DNS预解析 -->
  <link rel="dns-prefetch" href="//www.projectdinternational.com">
  <link rel="dns-prefetch" href="//ipapi.co">
  
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>
<body>
  <div id="app">
    <div id="global-loading" class="loading-mask" style="display:none;">
      <div class="loading-bg-box">
        <div class="spinner"></div>
        <div class="loading-text">{{ t('loadingText') }}</div>
      </div>
    </div>
    <header class="topbar">
      <div class="logo" aria-label="VG·POKER"></div>
      <div class="header-rigth">
        <span class="header-right-logo1"></span>
        <span class="header-right-logo2"></span>
        <span class="header-right-logo3"></span>
        <span class="header-right-logo4"></span>
      </div>
    </header>
    <main class="page-scroll">  
    <div class="ios" v-if="getDeviceType() === 'IOS'">
      <div class="download_text">
        {{ t('downloadNow') }}
      </div>
      <div class="biglogo">
        <div class="logo"></div>
      </div>
      <div class="banner_middle">
        <div class="banner"></div>
      </div>
      <!-- ios的两个按钮 -->
      <div class="banner-info-btn-group">
        <div class="btn_cover">
          <div class="btn btn-ios" @click="download">
            <div class="ios_img"></div>
            <div class="download_ios">{{ t('download') }}</div>
          </div>
        </div>
        <div class="btn_cover">
          <div class="btn btn-telegram" @click="toTelegram">
            <div class="telegram_img"></div>
            <div class="download_ios">{{ t('download') }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="android" v-else>
      <div class="nologin" v-if="getLogininfo() === 0">
        <div class="download_text">
          {{ t('downloadNow') }}
        </div>
        <!-- <div class="biglogo">
          <div class="logo"></div>
        </div> -->
        <div class="banner_middle">
          <div class="banner"></div>
        </div>
        <div class="btn_cover_1">
          <div class="android_download" @click="downloadup">
            <div class="android_img"></div>
            <div class="download_android">{{ t('androidInstallation') }}</div>
          </div>
        </div>
        <div class="reward_notify">
          <div class="reward_img"></div>
          <div class="reward_text">
            <div class="text1">{{ t('loginToClaim') }}</div>
            <div class="text2">{{ t('amount') }}</div>
            <div class="text3">{{ t('inCash') }}</div>
          </div>
        </div>
        <!-- 下半部分 -->
        <div class="black_line">
          <div class="line"></div>
        </div>
        <div class="step_block"> 
          <div class="step_title">{{ t('androidInstallationSteps') }}</div> 
          <div class="step_all"> 
            <div class="step step1" @click="downloadlow">
              <div class="step1_img"></div>
              <div class="step1_text">
                <div class="step1_title">{{ t('step01') }}</div>
                <div class="step1_content">{{ t('step01text') }}</div>
              </div>
              <div class="step1_buttom"></div>
            </div> 
            <div class="step step23">
              <div class="step4_img"></div>
              <div class="step23_text">
                <div class="step23_title">{{ t('step02_mid') }}</div>
                <div class="step23_content">{{ t('step02text_mid') }}</div>
              </div>
            </div> 
            <div class="step step23">
              <div class="step2_img"></div>
              <div class="step23_text">
                <div class="step23_title">{{ t('step02') }}</div>
                <div class="step23_content">{{ t('step02text') }}</div>
              </div>
            </div> 
            <div class="step step23">
              <div class="step3_img"></div>
              <div class="step23_text">
                <div class="step23_title">{{ t('step03') }}</div>
                <div class="step23_content">{{ t('step03text') }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
  </div>
  <link rel="stylesheet" href="./image-optimization.css">
  <script src="./image-loader.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/config_ext.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/mylib_ext.js" type="text/javascript" charset="utf-8"></script> 
  <script>
    var platId = 1017
    var cfg = mylib.logic.getCfg(platId);
  </script>
  <script src="./app.js"></script>
</body>
</html>
