<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1,
   minimum-scale=1.0, maxmum-scale=1.0, viewport-fit=cover" />
  <title>VG.poker</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="icon" href="./favicon.ico">
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>
<body>
  <div id="app">
    <header class="topbar"></header>
    <div id="global-loading" class="loading-mask" style="display:none;">
      <div class="loading-bg-box">
        <div class="spinner"></div>
        <div class="loading-text">{{ t('loadingText') }}</div>
      </div>
    </div>
    <main class="page-scroll">
      <div v-if="ipaddress==='Brazil'" class="big-photo-brl"></div>
      <div v-else class="big-photo-en"></div>
    </main>
    <div class="foot" @click="downloadlow">
      <div v-if="ipaddress==='Brazil'" class="buttom-brl"></div>
      <div v-else class="buttom-en"></div>
    </div>
  </div>
  <link rel="stylesheet" href="./image-optimization.css">
  <script src="./image-loader.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/config_ext.js" type="text/javascript" charset="utf-8"></script>
  <script src="./js/mylib_ext.js" type="text/javascript" charset="utf-8"></script> 
  <script>
    var platId = 1017
    var cfg = mylib.logic.getCfg(platId);
    mylib.logic.fbInit(cfg.pix);
  </script>
  <script src="./app.js"></script>
</body>
</html>
